/*
 * Page Transition
 */
.cross-fade-leave {
  position: absolute;

  padding: 0 0 100px;

  opacity: 1;

  transform: translateX(0);
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;

  transform: translateX(-100px);

  transition: all 300ms ease-in;
}
 
.cross-fade-enter {
  position: absolute;

  padding: 0 0 100px;

  transform: translateX(100px);

  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;

  transform: translateX(0);

  transition: all 300ms ease-out;
  transition-delay: 300ms;
}
